@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 223 55% 91%;
    --foreground: 225 30% 25%;
    --card: 0 0% 100%;
    --card-foreground: 225 30% 25%;
    --popover: 0 0% 100%;
    --popover-foreground: 225 30% 25%;
    --primary: 225 52% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 223 55% 85%;
    --secondary-foreground: 225 52% 30%;
    --muted: 223 55% 85%;
    --muted-foreground: 225 30% 45%;
    --accent: 273 59% 45%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 55% 80%;
    --input: 223 55% 85%;
    --ring: 273 59% 45%;
    --radius: 0.5rem;

    --status-online: 142 76% 36%;
    --status-using: 217 91% 60%;
    --status-pending: 35 92% 61%;
    --status-unavailable: 0 84% 60%;
    --status-text: 0 0% 100%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 273 59% 55%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --status-online: 142 76% 46%;
    --status-using: 217 91% 70%;
    --status-pending: 35 92% 71%;
    --status-unavailable: 0 72% 51%;
    --status-text: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
